version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: monthly
      day: saturday
    cooldown:
      default-days: 7
    open-pull-requests-limit: 15
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: monthly
      day: saturday
    cooldown:
      default-days: 5
      semver-major-days: 30
